@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Press+Start+2P&family=Rowdies:wght@700&display=swap');

body {
    font-family: 'Bungee Spice', cursive;
    background-color: #EAC696;
}

#seleccionar-mascota{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center
}
.titulo{
    color:#fff;
    font-size:90px
}
.subtitulo{
    color:#fff;
    font-size:40px
}
.tarjetas, .tarjetas-ataques {
    display:flex;
    gap:100px;
}
.tarjeta-de-mokepon{
    width:300px;
    height:220px;
    background: #C8AE7D;
    padding:10px;
    box-sizing:border-box;
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    border: 2px solid;
}
.tarjeta-de-mokepon img{
    width:200px
}
#boton-mascota{
    height: 60px;
    width: 1100px;
    border-radius: 20px;
    background-color: #b69862;
    border: 2px solid;
    color: white;
    margin-top: 30px;
    font-family: 'Press Start 2P', cursive;
}
input{
    display:none;
}

input:checked +label {
    background-color: #755f38fa;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color: #C8AE7D;
    padding:10px;
    box-sizing:border-box;
    border-radius:20px;
    width: 130px;
    height: 50px;
    font-family: 'Press Start 2P', cursive;
}

#mensajes {
    width: 300px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #C8AE7D;
    font-family: 'Press Start 2P', cursive;
    border: 2px solid;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar {
    color: #C8AE7D;
    font-family: 'Press Start 2P', cursive;
}

.ataques {
    display: grid;
    grid-template-columns: 150px 150px;
}


.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    width: 100px;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button {
    height: 60px;
    width: 200px;
    border-radius: 20px;
    background-color: #b69862;
    border: 2px solid;
    color: white;
    margin: 5px
}

@media (max-width: 360px) {
    .tarjetas, .tarjetas-ataques {
        flex-direction: column;
    }
    .titulo {
        font-size: 40px;
    }  
}

@media (max-width: 360px) {
    #ver-mapa div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}